Welcome to {{ansible_all_ipv4_addresses}}
OS: {{ansible_distribution}}
<br>
Current time: {{ansible_date_time.date}} {{ansible_date_time.time}}
<html>
  <head>
    <title>Install NGINX and configure webpage</title>
  </head>
  <body>
   <p><h3> Module 5: ansible roles </h3><br>
   <br>
   <br>
   <h1>Webpage on NGINX server</h1>
   <br><br>
   <h4> By: </h4>
   Name: C0r1n93
   </p>
  </body>
</html>
